.form {
	@apply mx-auto flex min-w-fit flex-col rounded-lg px-12 py-4;
	border: 1px solid red;
	border-top: 7px solid #101935;
	transition: var(--transition);
}

body {
	@apply text-sm;
}
button {
	height: 51px;
	font-size: 16px;
	line-height: 110%;
	padding: 1px 12px !important;
	border-radius: 7px;
	border: 0px;
	font-weight: 700 !important;
	cursor: pointer;
}

.header {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.dash-list li {
	@apply py-2 px-7 inline-flex gap-4;
}
.dash-list li:hover {
	opacity: 0.7;
}
.dash-list li svg {
	font-size: 1.5rem;
	color: white;
}
.active {
	@apply bg-sky-500;
}

.ql-container {
	min-height: 70vh;
	height: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
}

.ql-editor {
	height: 100%;
	flex: 1;
	overflow-y: auto;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-primary;
	@apply leading-loose;
}
h1 {
	@apply font-bold;
}
h2 {
	@apply font-semibold text-2xl;
}
h3 {
	@apply font-semibold font-bold text-3xl;
}
.newsListTable td {
	@apply text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap;
}

.newsListTable th {
	@apply text-sm font-medium text-gray-900 px-6 py-4 text-left;
}

.news-content img {
	@apply mb-5;
}

.addNew {
	@apply text-white flex gap-4 my-4 mx-auto w-2/4 text-2xl bg-green-700 py-2 px-4 rounded justify-center cursor-pointer;
}
