.form {
    @apply mx-auto flex min-w-fit flex-col rounded-lg px-12 py-4;
    border: 1px solid red;
    border-top: 7px solid #101935;
    transition: var(--transition);
}

body {
    @apply text-lg;
    /* @apply lg:text-xl; */
}
button {
    height: 51px;
    font-size: 16px;
    line-height: 110%;
    padding: 1px 12px !important;
    border-radius: 7px;
    border: 0px;
    font-weight: 700 !important;
    cursor: pointer;
}

.header {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.container {
    /* max-width: 1200px; */
    margin-left: auto;
    margin-right: auto;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.alert-danger {
    background: #842029;
    color: white;
}
.alert-success {
    background: #03552f;
    color: white;
}
.alert-wait {
    background: yellow;
    color: black;
}

.alert {
    @apply flex fixed md:w-1/4 min-w-fit z-[100] rounded-md border px-4 py-2 text-center opacity-95 drop-shadow-lg  items-center;
    bottom: 0.5rem;
    animation: alertSlide 0.2s forwards;
}

@keyframes alertSlide {
    0% {
        right: -25%;
    }
    100% {
        right: 0%;
    }
}

.dash-list li {
    @apply px-7 flex gap-2 py-2;
}
.dash-list li:hover {
    opacity: 0.7;
}

.active {
    @apply bg-sky-500;
}

.ql-container {
    min-height: 70vh;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.ql-editor {
    height: 100%;
    flex: 1;
    overflow-y: auto;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-primary leading-loose;
}

.newsListTable td {
    @apply text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap;
}

.newsListTable th {
    @apply text-sm font-medium text-gray-900 px-6 py-4 text-left;
}

.news-content img {
    @apply mb-5;
}

.addNew {
    @apply text-white flex gap-4 my-4 mx-auto w-2/4 text-2xl bg-green-700 py-2 px-4 rounded justify-center cursor-pointer;
}
.addNew svg {
    @apply mt-[8px];
}

.activeSideNav {
    @apply text-darkblue font-bold text-xl pl-4 border-l-4 border-l-rose-700 transition-all duration-300;
}

.social-share {
    width: 2.4rem;
}

.poll-button {
    background: linear-gradient(-45deg, #d31818e7, #d31818e7, #1d3557, #1d3557);
    background-size: 500% 500%;
    animation: jhilimili 0.9s infinite;
}

@keyframes jhilimili {
    0% {
        background-color: #e66c08;
        box-shadow: 0 0 15px 0px #c76102e7;
    }
    50% {
        box-shadow: 0 0 15px 5px #b6022fe7;
    }
    100% {
        box-shadow: 0 0 15px 0px #e04c08e7;
    }
}

/* .header-drop {
	@apply bg-gray-400;
	opacity: 1;
	animation: bistarai 0.8s;
} */

.header-drop {
    /* @apply bg-gray-100; */
    @apply bg-white;
    opacity: 1;
    top: -75px;
    animation: bistarai 0.3s;
}
.header-drop li {
    @apply cursor-pointer my-1 hover:bg-darkblue rounded-sm py-2 duration-200 hover:text-white;
}
@keyframes bistarai {
    0% {
        opacity: 0;
        top: -100px;
    }
    100% {
        opacity: 1;
        top: -75px;
    }
}
